*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #0066bb url(../images/reactjs.png) no-repeat right 10px;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #0085F3;
    }
  }
}

section {
  padding: 1em;
}
.entity {
  padding: 0.5em;
  border: 1px solid #555;
}
.attributes {
  padding: 0.5em;
  background-color: #eee;
}
.json-input {
  margin: 1em;
  label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: inline-block;
  }
  textarea {
    padding: 0.75em;
    display: block;
    width: 100%;
    height: 15em;
  }
  .state {
    margin-right: 1em;
    font-size: 0.75em;
  }
}
.gh-ribon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
